.footer-container {
  margin-top: 5em;
  color: white;
}

hr {
  width: 70%;
  margin-bottom: 4em;
  opacity: 0.5;
  border-top: 1px dashed white;
}

a {
  display: inline-block;
  margin-right: 1em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-size: 1.3em;
  font-weight: 400;
}

p {
  margin: 0;
  font-weight: 300;
}

.footer-content,
.footer-bottom {
  padding-left: 5%;
  padding-right: 5%;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
  min-height: 27em;
}

.footer-content div {
  text-align: center;
}

.footer-bottom {
  margin: 3em;
  font-weight: 300;
  text-align: center;
}
