.footer-container {
  margin-top: 5em;
  color: white;
}

hr {
  width: 70%;
  margin-bottom: 4em;
  opacity: 0.5;
  border-top: 1px dashed white;
}

a {
  display: inline-block;
  margin-right: 1em;
}

h4 {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
  font-size: 1.3em;
  font-weight: 400;
}

p {
  margin: 0;
  font-weight: 300;
}

.footer-content,
.footer-bottom {
  padding-left: 8em;
  padding-right: 8em;
}

.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  gap: 3em;
  min-height: 27em;
}

.footer-content div {
  text-align: center;
}

.footer-bottom {
  margin: 3em;
  font-weight: 300;
  text-align: center;
}

.link-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  width: 13em;
  padding: 1em;
  border-radius: 10px;
}

.second-icon {
  grid-column: 3/4;
  grid-row: 1/2;
}

.title {
  grid-column: 1 / 4;
  grid-row: 2/3;
}

.text {
  grid-column: 1/4;
  grid-row: 3/4;
}

.background-1 {
  background-color: #f25e5e;
}

.background-2 {
  background-color: #f29422;
}

.background-3 {
  background-color: #0072f5;
}

.background-4 {
  background-color: #eb00e3;
}

.background-5 {
  background-color: #00ccf0;
}

.background-6 {
  background-color: #5b00db;
}
