nav {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  position: sticky;
  top: 0px;
  z-index: 999;
}

nav ul {
  list-style: none;
}

.logo {
  flex: 2;
  cursor: pointer;
}

/* menu > li */
.menu {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
}

/* member-area > li */
.member-area {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.menu li,
.member-area li {
  /* Using width is right???? */
  flex-basis: 120px;
  outline: 0px solid rgba(255, 255, 255, 0);
  color: white;
  transition: 0.7s;
  cursor: pointer;
}

.menu li:hover,
.member-area li:hover {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 1px solid rgba(255, 255, 255, 1);
  color: white;
  font-weight: 500;
  box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  border-radius: 10px;
}

a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 400;
  color: white;
}

a:hover {
  font-weight: 500;
}
