nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3em;
  padding-right: 3em;
}

.logo {
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(114, 9, 183, 0.9);
  width: 100%;
  height: 100%;
}

.menu-top {
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}

.menu-content {
  margin: 3%;
  padding: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  align-items: center;
  gap: 10px;
}
